body
{
    font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
    font-size: 62.5%;
    color: #232323;
    background-color: #fff;
}

html, form
{
    height: 100%;
}

body
{
    height: 98%;
}

header, footer, nav, section
{
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset
{
    border: 1px solid #ddd;
    padding: 1.4em 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #f00;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid
{
    display: none;
}

/*my style*/
.head
{
    font-size: xx-large;
    font-weight: bold;
    vertical-align: middle;
    padding: 5px 0 0 8px;
}

    .head img
    {
        vertical-align: middle;
        margin-right: 50px;
    }

.body
{
    width: 97%;
    height: 75%;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
    border: solid 1px #999999;
    border-radius: 3px;
    box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.87), 3px 0 5px -3px rgba(1, 1, 1, 0.87);
}
